<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Potion</title>
    <link href="/css/mages/mage.css" rel="stylesheet">
</head>

<body class="mage-body">
    <div class="please-center-bro">
    <div class="view-potion">

        <div class="potion-div">
            <h1>
                <%= potion.potionName %>
            </h1>
            <h2>Potion information:</br>

            </h2>
            <ul>
            <% for (let i=0; i< potion.attributes.length; i++) {%>
                <li>
                    <%= potion.attributes[i] %>
                </li>
                <%}%>
                    </ul>
                    <p>
                        </br>
                        Brewed by: <%= potion.mage.mageName %></br>
                            Element: <%= potion.mage.element %>
                    </p>
        </div>

</div>

        <div class="potion-buttons">
            <form action="/potions/<%= potion.id %>?_method=DELETE" method="POST">
                <button class="button" type="submit">Drink This Potion!</button>
            </form>
            <a href="/potions"><button class="button">Back To Potions Bag</button></a>
        </div>
        <div>


        </div>
</body>

</html>